@font-face {
  font-family: iranSans;
  font-style: normal;
  font-weight: 300;
  src: url("/src/assets/fonts/IRANSansXFaNum-Light.woff2") format("woff2"),
    url("/src/assets/fonts/IRANSansXFaNum-Light.woff") format("woff");
}

@font-face {
  font-family: iranSans;
  font-style: normal;
  font-weight: normal;
  src: url("/src/assets/fonts/IRANSansXFaNum-Regular.woff2") format("woff2"),
    url("/src/assets/fonts/IRANSansXFaNum-Regular.woff") format("woff");
}

@font-face {
  font-family: iranSans;
  font-style: normal;
  font-weight: bold;
  src: url("/src/assets/fonts/IRANSansXFaNum-Bold.woff2") format("woff2"),
    url("/src/assets/fonts/IRANSansXFaNum-Bold.woff") format("woff");
}

.fw-light {
  font-family: iranSans !important;
  font-style: normal !important;
  font-weight: 300 !important;
  letter-spacing: 0 !important;
}

.fw-regular {
  font-family: iranSans !important;
  font-style: normal !important;
  font-weight: normal !important;
  letter-spacing: 0 !important;
}

.fw-bold {
  font-family: iranSans !important;
  font-style: normal !important;
  font-weight: bold !important;
  letter-spacing: 0 !important;
}
